<aside>
    <div *ngIf="isLoading">
        <app-loader />
    </div>

    <div class="aside"  *ngIf="!isLoading">
        <h2 class="title">
            Recent posts
        </h2>
        <div>
            <div *ngFor="let post of postsList" class="aside-movie">
                <a href="/movies">
                    <h3>{{ post.movieId.movieName }}</h3>
                    <p>{{ post.userId.username }}</p>
                    <p>
                        <span>{{ post.created_at | elapsedTime }}</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</aside>