<div class="details">
  <section id="details">
    <div id="details-wrapper">
      <h1 id="details-title"><span>Title:</span>{{ data.movieName }}</h1>

      <div id="img-wrapper">
        <img src="{{ data.image }}" />
      </div>

      <div id="info-wrapper">
        <h2 id="title"><span>Genre:</span>{{ data.movieGenre }}</h2>
        <h2 id="title"><span>Producer:</span>{{ data.movieProducer }}</h2>
        <div id="summary"><span>Summary:</span> {{data.summary}}</div>
        <br>
        <div id="content"><span>Content:</span>{{ data.content }}</div>
        <br>
        <div id="Author"><span>Posted by:</span> {{ data.username }}</div>
      </div>
    </div>
  </section>
</div>