
.card {    
  background-position: 50% 50%;
  background-size: cover;
  width: 300px;
  max-height: 700px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  text-align:justify;
  background-color: rgb(255, 247, 161);    
  margin: 10px;
  padding-bottom: 10px;
}

/* @keyframes fade {
  from {background-color: rgba(211, 211, 211, 0.952); color: black}
  to {background-color: darkgray; color: white;}
} */

.card:hover {
  background-color: rgb(218, 193, 82);
  color: white;
  animation-name: fade;
  animation-duration: 100ms;   
  cursor: pointer;  
}

.card div {
  padding: 2px;
}

span {
  font-weight:bolder;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#content {
  min-width: 500;
  max-lines: 100;
  max-height: 70px;
  overflow: hidden;    
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

#summary {
  max-height: 50px;
  overflow: hidden;    
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

h1 {
  overflow: hidden;
}

#Author {
  overflow: hidden;
  text-align: right;
} 

#img-wrapper {
  max-width: 35%;  
}

#img-wrapper img {
  width: 100%;
  min-height: 300px;
  width: 300px;
  height: 300px;
}

/* #details-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  margin: 50px auto;
  min-height: 400px;
  max-width: 60%;
  padding: 20px;
  border: 2px ridge rgb(210, 208, 208);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
} */

#details-wrapper {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(242, 243, 202);
  margin: 50px auto;
  min-height: 400px;
  min-width: 400px;
  padding: 20px;
  border: 2px ridge rgb(230, 224, 179);
  box-shadow: 0 0 10px 0 rgba(2, 2, 2, 0.2), 0 3px 3px 0 rgba(2, 2, 2, 0.24);
  
}
/* #details-wrapper img {
  padding: 40px;
  max-width: 100%;
  min-height: 200px;
  width: 200px;
  height: 200px;
} */



#img-wrapper {
  max-width: 35%;
}

#img-wrapper img {
  width: 100%;
  min-height: 300px;
  width: 300px;
  height: 300px;
}

#details-title {
  text-align: center;
  font-weight: bold;
  font-size: 29px;
  width: 100%;
}

#info-wrapper {
  display: block;
  width: 65%;
  margin-left: 10px;
}

#info-wrapper > p {
  width: 90%;
  font-weight: bold;
}

#info-wrapper > p > span {
  font-weight: lighter;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 19px;
}

span {
  font-size: 17px;
}

table {
  width: 90%;
}

table td p {
  font-weight: bold;
}

table td p span {
  font-weight: lighter;
}

#action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
  margin-top:15px;
}

#action-buttons a {
  text-decoration: none;
  margin: auto 50px;
  font-size: 21px;
  width: 130px;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #59452e, #e8b77e);
}

#action-buttons p {
  text-decoration: none;
  margin: auto 50px;
  font-size: 21px;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #59452e, #e8b77e);
}

.details:hover {
  width: 100%;
  color: rgb(142, 5, 28);
  animation-name: fade;
  animation-duration: 100ms;   
  cursor: pointer;  
}

.hr-wrapper {  
  text-align:center ;  
  min-width:100%;
  color: rgb(107, 77, 13);
}