
<div id="details-wrapper">


<form class="textarea" #loginForm="ngForm" (ngSubmit)="submitHandler()">
    <!-- Email -->
    <div class="form-group" class="inputField">
        <p for="email">Email: </p>
        <input type="email" id="email" name="email" #emailInput="ngModel" ngModel email required />
    </div>

    <!-- Email error message -->

    <ng-container *ngIf="emailInput.touched" class="inputField">
        <p class="error" *ngIf="emailInput.errors?.['required']">
            Email is required!
        </p>
        <p class="error" *ngIf="emailInput.errors?.['email']">
            Email is not valid!
        </p>
    </ng-container>


    <!-- <div *ngIf="emailInput.touched" class="messageField">
        <div *ngIf="emailInput.errors?.['required']">Email is required!</div>
        <div *ngIf="emailInput.errors?.['email']">Email is not valid!</div>
    </div> -->


    <!-- Password -->
    <div class="form-group" class="inputField">
        <p>Password: </p>
        <input type="password" id="password" name="password" #passwordInput="ngModel" ngModel required minlength="4" />
    </div>

    <ng-container *ngIf="passwordInput.touched" class="inputField">
        <p class="error" *ngIf="passwordInput.errors?.['required']">
            Password is required!
        </p>
        <p class="error" *ngIf="passwordInput.errors?.['minlength']">
            Password must be at least 4 characters long.
        </p>
    </ng-container>


    <button class="inputField">Login</button>
</form>

</div>