.user-details {
    text-align: center;
}

.title {
    font-weight: bold;
}

.textarea {
    text-align: center;
    width: 100%;
    height: 850px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #4e491c;
    border-radius: 10px;
    background-color: #faeeaa;
    resize: none;
  }

  #img-wrapper {
    max-width: 100%;
    
  }
  #img-wrapper img {
    padding: 40px;
    width: 100%;
    min-height: 200px;
    width: 200px;
    height: 200px;
  }

  