<div *ngIf="this.isLoading">
  <p class="loader">Loading profile...</p>
</div>


<div id="details-wrapper">
<div class="user-details" *ngIf="!this.isLoading">

  <div id="img-wrapper">
    <img src="/assets/profile.png" alt="default user" />
  </div>

  <h3>User Info:</h3>
  <div>
    
    <p class="title">Email: {{ email }}</p>
    <p></p>
  </div>
  <div>
    <p class="title">Username: {{ username }}</p>
    <p></p>
  </div>
  <!-- <div>
    <p class="title">User ID:</p>
    <p>{{ userId }}</p>
  </div> -->
</div>
</div>