<div class="container">
            <div class="welcome">
                <h3>Welcome {{ username }} to the coolest movies librarie!</h3>
                
                <div class="profile">
                    <img src="/assets/Movie_home.png" alt="default user" />
                <p>Movies at the librarie is a place, where you can post your favourite movies, comment, and discuss problems.</p>
                <div class="logged">
                    <ul *ngIf="!isLogged">
                        <li>
                            <a routerLink="/auth/login">
                                <i class="fas fa-sign-in-alt"></i>
                                Login
                            </a>
                        </li>
                        <li>
                            <a routerLink="/auth/register">
                                <i class="fas fa-user-plus"></i>
                                Register
                            </a>
                        </li>
                    </ul>
                </div>
            </div>        
    </div>