<div class="container">

  <br>
 <p *ngIf="this.userService.username">
    Hello <span routerLink="profile">{{ this.userService.username }}</span>!
     to Movie library a website dedicated to sharing movies.
  </p>

  <br>

  <div *ngIf="!this.userService.isLoggedIn">
    
    <p>
      If you want to post your favourite movie, please<span routerLink="login" class="highlight">Login</span>or<span routerLink="register" class="highlight">Register</span>into your account.      
    </p>    
  </div>

<br>

<div class="profile">
    <img src="/assets/Movie_home.png" alt="default user" />
  <p>Movie library is a place, where you can post your favourite movies.
  </p> 
</div>
