<div *ngIf="isLoading" class="loader">Loading movie...</div>

<div class="view-poem" *ngIf="!editingMovie">


  <div class="textarea1">

    <div class="poem" *ngIf="movie">



      <div class="details">
        <section id="details">
          <div id="details-wrapper">

            <div id="hr-wrapper">
              **********************************************
            </div>

            <h1 id="details-title"><span>Title: </span>{{ movie.movieName }}</h1>


            <div id="img-wrapper">
              <img src="{{ movie.image }}" />
            </div>


            <div id="info-wrapper">
              <h2 id="title"><span>Genre: </span>{{ movie.movieGenre }}</h2>



              <h2 id="title"><span>Producer: </span>{{ movie.movieProducer }}</h2>
              <div id="summary"><span>Summary: </span> {{movie.summary}}</div>
              <br>
              <div id="content"><span>Content: </span>{{ movie.content }}</div>
              <br>
              <br>


              <!-- <div class="controls">
              <button *ngIf="movie._ownerId == loggedInUser" class="button" class="inputField" (click)="deleteMovie()">
                Delete Movie
              </button>
              <button *ngIf="movie._ownerId == loggedInUser" class="button" class="inputField" (click)="toggleEditing()">
                Edit Movie
              </button>
            </div> -->


              <!-- <div id="hr-wrapper">
              <hr>
            </div> -->
              <div id="Author"><span>Posted by: </span> {{ movie.username }}</div>

            </div>
          </div>
        </section>
      </div>

      <div class="controls">
        <button *ngIf="movie._ownerId == loggedInUser" class="button" class="inputField" (click)="deleteMovie()">
          Delete Movie
        </button>
        <button *ngIf="movie._ownerId == loggedInUser" class="button" class="inputField" (click)="toggleEditing()">
          Edit Movie
        </button>
      </div>

      <!-- <div id="details-wrapper">
    
    <p>
      <strong>Title: </strong><span class="title">{{movie.movieName}}</span>
    </p>
   
    <p>
      <strong>Image: </strong><span class="name"><img src="/assets/{{ movie.image }}" /></span>
    </p>

    <p>
      <strong>Genre: </strong><span class="name">{{ movie.movieGenre }}</span>
    </p>
    <p>
      <strong>Producer: </strong><span class="name">{{ movie.movieProducer }}</span>
    </p>
    <p>
      <strong>Summary: </strong><span class="summary">{{ movie.summary }}</span>
    </p>
    <p>
      <strong>Content: </strong><span class="content">{{ movie.content }}</span>
    </p>  
    <br>
    <p>
      <strong>Written by: </strong><span class="name">{{ movie.username }}</span>
    </p>
    </div> -->
    </div>


  </div>
</div>



<div class="edit-poem" *ngIf="editingMovie">

  <div class="msg">
    <p>
      Please apply your changes in the fields below.
    </p>
  </div>



  <form class="textarea" #editMovieForm="ngForm" (ngSubmit)="saveChanges()">


    <!-- movie name -->
    <div class="form-group" class="inputField">
      <p>Movie title:</p>
      <input type="text" id="title" name="movieName" #movieNameInput="ngModel" ngModel required minlength="2"
        [value]="movie.movieName" />
    </div>

    <ng-container *ngIf="movieNameInput.touched" class="inputField">
      <p class="error" *ngIf="movieNameInput.errors?.['required']">
        Title is required.
      </p>
      <p class="error" *ngIf="movieNameInput.errors?.['minlength']">
        Title must be at least 2 characters long.
      </p>
    </ng-container>

    <!-- movie image -->
    <div class="form-group" class="inputField">
      <p>Movie image:</p>
      <input type="text" id="image" name="image" #imageInput="ngModel" ngModel [value]="movie.image" />
    </div>



    <!-- movie genre -->

    <div class="form-group" class="inputField">
      <p>Movie genre:</p>
      <input type="text" id="title" name="movieGenre" #movieGenreInput="ngModel" ngModel required minlength="4"
        [value]="movie.movieGenre" />
    </div>

    <ng-container *ngIf="movieGenreInput.touched" class="inputField">
      <p class="error" *ngIf="movieGenreInput.errors?.['required']">
        Movie genre is required.
      </p>
      <p class="error" *ngIf="movieGenreInput.errors?.['minlength']">
        Movie genre must be at least 4 characters long.
      </p>
    </ng-container>

    <!-- movie producer -->

    <div class="form-group" class="inputField">
      <p>Movie producer:</p>
      <input type="text" id="title" name="movieProducer" #movieProducerInput="ngModel" ngModel required minlength="3"
        [value]="movie.movieProducer" />
    </div>

    <ng-container *ngIf="movieProducerInput.touched" class="inputField">
      <p class="error" *ngIf="movieProducerInput.errors?.['required']">
        Movie producer is required.
      </p>
      <p class="error" *ngIf="movieProducerInput.errors?.['minlength']">
        Movie producer must be at least 3 characters long.
      </p>
    </ng-container>

    <!-- movie summary -->

    <div class="form-group" class="inputField">
      <p>Movie summary:</p>
      <textarea type="text" id="summary" name="summary" #movieSummaryInput="ngModel" ngModel cols="30" rows="5" required
        minlength="10" [value]="movie.summary"></textarea>
    </div>

    <ng-container *ngIf="movieSummaryInput.touched" class="inputField">
      <p class="error" *ngIf="movieSummaryInput.errors?.['required']">
        Movie summary is required.
      </p>
      <p class="error" *ngIf="movieSummaryInput.errors?.['minlength']">
        Movie summary must be at least 10 characters long.
      </p>
    </ng-container>

    <!-- movie content -->

    <div class="form-group" class="inputField">
      <p>Movie:</p>
      <textarea type="text" id="content" name="content" #movieContentInput="ngModel" ngModel cols="30" rows="10"
        minlength="20" [value]="movie.content" required></textarea>
    </div>

    <ng-container *ngIf="movieContentInput.touched" class="inputField">
      <p class="error" *ngIf="movieContentInput.errors?.['required']">
        Movie content is required.
      </p>
      <p class="error" *ngIf="movieContentInput.errors?.['minlength']">
        Movie content must be at least 20 characters long.
      </p>
    </ng-container>

    <div class="controls">
      <button *ngIf="movie._ownerId == loggedInUser" class="button" class="inputField" (click)="editingMovie = false">
        Cancel
      </button>
      <button>Update</button>
    </div>
  </form>
</div>