.inputField {
    display: block;
    text-align: center;
}

.inputField input {
    width: 200px;
    border-radius: 5px;
    padding: 10px 15px;    
}

button {
    padding: 10px 40px;
    border-radius: 10px;    
    margin: 50px auto;
}

@keyframes fade {
    from {background-color: rgb(235, 233, 134); color: black}
    to {background-color: rgb(220, 240, 108); color: rgb(207, 216, 84);}
}

button:hover {
    animation-name: fade;
    animation-duration: 100ms;
    background-color: rgb(161, 147, 35);
    cursor: pointer;
}

label {
    font-weight: bold;
    padding: 15px;
}


.messageField {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

/* .textarea {
    
    height: 530px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #4e491c;
    border-radius: 10px;
    background-color:rgb(230, 224, 179);
    resize: none;
  } */

  .error {
    margin: 0 auto;
    text-align: center;
    color: red; 
}

#details-wrapper {
    height: 500px;
    max-width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(230, 224, 179);
    margin: 50px auto;
    
    border-radius: 10px;
    padding: 20px;
    border: 2px ridge rgb(230, 224, 179);
    box-shadow: 0 0 10px 0 rgba(2, 2, 2, 0.2), 0 3px 3px 0 rgba(2, 2, 2, 0.24);
    
  }
  #details-wrapper img {
    padding: 40px;
    max-width: 100%;
    min-height: 200px;
    width: 200px;
    height: 200px;
  }